body{
    background-color: rgb(9, 2, 50);
}
#OUT{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
    border: 1px solid;
    margin-top: 190px;
    background-color: rgba(128, 128, 128, 0.764);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
}
#IN{
  
    margin-top: 50px;
    width: 400px;
    margin-left: 40px;
    /* padding: 10px; */
    /* background-color: rgba(96, 94, 94, 0.677); */
  
    /* background-color: rgba(96, 94, 94, 0.677); */
    
    
}
h1{
    background-color: rgba(220, 220, 220, 0.244);

    border-radius: 20px;
    width: 350px;
    height: 100px;
    font-weight: bold;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.779);
    padding-top:40px;
    text-align: center;
    margin-left: 70px;
    margin-top: 30px;
    box-shadow: 0px 0px 20px rgba(245, 245, 245, 0.009);
}
button{
    background-color: rgb(237, 52, 35);
    border: none;
    width: 73px;

    border-radius: 5px;
    padding:10px 15px 10px 15px;
    margin-left: 24px;
    /* box-shadow: 0px 0px 5px rgba(255, 68, 0, 0.836); */
    /* box-shadow: 0px 0px 5px rgb(223, 50, 11); */
    
}
#st{
    transform: translate(-18px,0px);
}
#lp{
    transform: translate(-16px,0px);
}
#sp{
    transform: translate(-12px,0px);
}
#rs{
    transform: translate(-11px,0px);
}
#laps{
    text-align: center;
    color: whitesmoke;
}